@media(max-width: 767px){

	#intro{
		height: 1150px;
		background-image: url(../img/mobile/intro/mobile_intro_bg.png);
	}

	#intro .introwrap{
		width: 189px;
		height: 129px;

		margin-left: -94.5px;
		/*background-color: yellow;*/
		top: 230px;
	}		

	#intro .introwrap .logo{
		width: 189px;
		height: 129px;
		
		background-image: url(../img/mobile/intro/mobile_logo.png);
	}

	#intro .introwrap .lion,
	#intro .introwrap .rabbit,
	#intro .introwrap .bear,
	#intro .introwrap .monkey,
	#intro .cloudwrap .dragonfly{
		display: none;
	}

	#intro .cloudwrap{
		height: 350px;
		top: 280px;
	}

	#intro .cloudwrap .leftcloud{
		width: 267px;
		height: 314px;
		background-image: url(../img/mobile/intro/mobile_cloud1.png);
	}
	#intro .cloudwrap .rightcloud{
		width: 237px;
		height: 309px;
		background-image: url(../img/mobile/intro/mobile_cloud2.png);
	}

	/*farm1*/
	#farm1{
		height: 450px;
		background-image: url(../img/mobile/farm/farm1/mobile_farm1_bg.png);

	}

	#farm1 .leftrice1 {
		width: 86px;
		height: 150px;
		background-image: url(../img/mobile/farm/farm1/mobile_leftrice.png);
	}
	#farm1 .rightrice1 {
		width: 95px;
		height: 170px;
		background-image: url(../img/mobile/farm/farm1/mobile_rightrice.png);

		top: -20px;
	}

	#farm1 .farmer{
		width: 160px;
		height: 250px;
		background-image: url(../img/mobile/farm/farm1/mobile_farmer.png);
		
		margin-left: -69px;
	}

	#farm1 .farmspacewrap{
		width: 300px;

		text-align: center;

		left: 50%;
		margin-left: -150px;
	}

	#farm1 .farmspacewrap img{
		width: 79px;
	}

	#farm1 .farmspacewrap .farmspeech{
		line-height: 20px;
		font-size: 12px;
	}


	#farm2{
		height: 440px;
		background-image: url(../img/mobile/farm/farm2/mobile_farm2_bg.png);
	}

	#farm2 .leftrice2 {
		width: 57px;
		height: 201px;
		background-image: url(../img/mobile/farm/farm2/mobile_leftrice2.png);
	}

	#farm2 .rightrice2 {
		width: 54px;
		height: 202px;
		background-image: url(../img/mobile/farm/farm2/mobile_rightrice2.png);
	}

	#farm2 .scarecrow {
		display: none;
	}


	#farm3{
		height: 500px;
		background-image: url(../img/mobile/farm/farm3/mobile_farm3_bg.png);
	}

	#farm3 .farm3window{
		width: 82px;
		height: 56px;
		background-image: url(../img/mobile/farm/farm3/mobile_window.png);

		margin: 10px 0 0  10px;
	}


	#farm3 .machinewrap{
		width: 200px;
		height: 150px;

		top: 120px;
		margin-left: -96px;
	}


	#farm3 .machinewrap .machine1{
		width: 191px;
		height: 149px;
		background-image: url(../img/mobile/farm/farm3/mobile_machine1.png);
	}


	#farm3 .machinewrap .sawshadow,
	#farm3 .machinewrap .timer,
	#farm3 .machinewrap .machinbird{
		display: none;
	}

	#farm3 .machinewrap .saw1,
	#farm3 .machinewrap .saw2{
		width: 31px;
		height: 31px;
		background-image: url(../img/mobile/farm/farm3/mobile_saw.png);
	}


	#farm3 .machinewrap .saw1{
			margin : 50px 0 0 50px

	}

	#farm3 .machinewrap .saw2{
		margin: 50px 0 0 115px;
	}

	#farm3 .farmbubble{
		position: absolute;

		width: 152px;

		left: 50%;
		margin: 0 0 0 -70px;
	}

	#forest1{
		position: relative;

		height: 400px

		background-image: url(../img/mobile/forest/forest1/mobile_forest1_bg.png);
	}

	#forest1 .lefttree{
		  width: 79px;
		  height: 187px;
		  background-image: url(../img/mobile/forest/forest1/mobile_lefttree.png);
	}

	#forest1 .righttree{
		width: 79px;
		height: 187px;
		background-image: url(../img/mobile/forest/forest1/mobile_righttree);
	}

	#forest1 .treewrap{
		width: 68px;
		height: 129px;

		top: 200px;
	}

	#forest1 .treewrap .rabbit1,
	#forest1 .treewrap .rabbit2{
		display: none;
	}

	#forest1 .treewrap .righttree{
		width: 68px;
		height: 129px;

		background-image: url(../img/mobile/forest/forest1/mobile_righttree.png);
	}

	#forest2 {
		position: relative;

		height: 400px;
		background-image: url(../img/mobile/forest/forest2/mobile_forest2_bg.png);
	}

	#forest2 .frog{
		width: 34px;
		height: 57px;
		background-image: url(../img/mobile/forest/forest2/mobile_frog.png);

		margin: 0 0 0 20px;
	}

	#forest2 .machinewrap2{
		width: 200px;
		height: 110px;
		/*background-color: yellow;*/

		top: 70px;
		margin-left: -97px;
	}

	#forest2 .machinewrap2 .machineBottom{
		width: 141px;
		height: 60px;
		background-image: url(../img/mobile/forest/forest2/mobile_machinebottom.png);

		left: 50%;
		margin: 50px 0 0 -70.5px;
		
	}

	#forest2 .machinewrap2 .machineLeft{

		width: 46px;
		height: 85px;
		background-image: url(../img/mobile/forest/forest2/mobile_machineleft.png);

		margin: 0 0 0 20px;
	}
	#forest2 .machinewrap2 .machineRight{
		width: 46px;
		height: 93px;
		background-image: url(../img/mobile/forest/forest2/mobile_machineright.png);

		margin: -10px 0 0  130px;
	}

	#forest2 .forestBubble{
		position: absolute;	
	

		width: 161px;

		top: 290px;
		left: 50%;
		margin-left: -89px;
	}


	#forest2 .forest2tree{
		float: right;

		width: 69px;
		height: 76px;
		background-image: url(../img/mobile/forest/forest2/mobile_machine);
	

		top: 130px;
		margin-right: 20px;
	}

	#forest3{
		height: 630px;
		background-image: url(../img/mobile/forest/forest3/mobile_forest3_bg.png);

	}

	#forest3 .forest3wrap{
		width: 99px;
		height: 127px;

		top: 300px;
	}
#forest3 .forest3wrap .forest3tree{
	width: 99px;
	height: 127px;
	background-image: url(../img/mobile/forest/forest3/mobile_forest3tree.png);
}

#forest3 .forest3wrap .smallbird,
#forest3 .forest3wrap .bigbird{
	display: none;
}

#science{
	height: 580px;
	background-image: url(../img/mobile/science/mobile_science_bg.png);

}

#science .sciencewrap{
	overflow: hidden;
	width: 360px;
	height: auto;

	top: 180px;
	/*margin-left: 180px;*/
	/*margin: 0 auto; pc css에 있어서 굳이 중앙 정렬 안해도 */
}

#science .sciencewrap .scienceleftwrap{
	width: 100px;
}
#science .sciencewrap .scienceleftwrap .gly{
	width: 76px;
	height: 63px;
	background-image: url(../img/mobile/science/mobile_gly.png);

	margin: 0 0 10px 0;
}

#science .sciencewrap .scienceleftwrap img,
#science .sciencewrap .sciencerightwrap img{
	height: 15px;
}

#science .sciencewrap .scienceleftwrap p,
#science .sciencewrap .sciencerightwrap p{
	display: none;
}

#science .sciencewrap .sciencecentertwrap{
	width: 160px;
	height: 222px;

}



#science .sciencewrap .sciencecentertwrap .puplesteam{
	width: 80px;
	height: 71px;
	background-image: url(../img/mobile/science/mobile_grape.png);

	margin-left: -40px;
}


#science .sciencewrap .sciencecentertwrap .funneback{
	width: 173px;
	height: 151px;
	background-image: url(../img/mobile/science/mobile_hopperback.png);
}


#science .sciencewrap .sciencecentertwrap .funnefront{
	width: 160px;
	height: 122px;
	background-image: url(../img/mobile/science/mobile_hopperfront.png);

	left: 50%;
	margin: 20px 0 0 -80px;
}

#science .sciencewrap .sciencerightwrap{
	width: 100px;

}
#science .sciencewrap .sciencerightwrap .water{
	width: 67px;
	height: 63px;
	background-image: url(../img/mobile/science/mobile_water.png);

	margin-bottom: 10px;
	margin-left: 32px;
}

#night1 {
	position: relative;
	height: 500px;
	background-image: url(../img/mobile/oneday/night1/mobile_night1_bg.png);
}

#night1 .owl{
	width: 88px;
	height: 151px;
	background-image: url(../img/mobile/oneday/night1/mobile_owl.png);

	margin-top: 0;
}

#night1 .starwrap{
	position: absolute;
	
	width: 308px;
	hei/ght: 157px;
	
	background-color: pink;
	background-image: url(../img/mobile/oneday/night1/mobile_star.png);

	top: 300px;
	margin-left: 50px;
}



#night1 .starwrap .star1,
#night1 .starwrap .star2,
#night1 .starwrap .star3{
	display: none;
}























}


